<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
  <form [ngFormModel]="registerForm" class="form-signin" (ngSubmit)="registration()">
    <h2 class="form-signin-heading">Please sign up</h2>
     <div class="form-group"  [ngClass]="{'has-error': !registerForm.controls['email'].valid && registerForm.controls['email'].touched }">
      <label for="exampleInputEmail1">Email address</label>
      <input ngControl="email" type="email" class="form-control" placeholder="Email">
      <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="error-box">* Email is required!</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !registerForm.controls['password'].valid && registerForm.controls['password'].touched }">
      <label for="exampleInputPassword1">Password</label>
      <input ngControl="password" type="password" class="form-control" placeholder="Password">
      <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched" class="error-box">* Password is required!</div>
      <div *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched" class="error-box">* Minimum username length is 8!</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !registerForm.controls['password_confirmation'].valid && registerForm.controls['password_confirmation'].touched }">
      <label for="exampleInputPassword1">Password confirmation</label>
      <input ngControl="password_confirmation" class="form-control" type="password" placeholder='Confirm Password'>
      <div *ngIf="registerForm.controls['password_confirmation'].hasError('required') && registerForm.controls['password_confirmation'].touched" class="error-box">* Confirm Password is required!</div>
      <div *ngIf="registerForm.controls['password_confirmation'].hasError('notEquivalent') && registerForm.controls['password_confirmation'].touched" class="error-box">* Passwords don't match!</div>
    </div>
    <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <a class="btn btn-lg btn-info btn-block" [routerLink]="['Login']">Login</a>
  </form>
</div>
